.App {
  background: rgb(36, 107, 112);
  padding: 16px;
  height: 100vh;
}

.App-header {
  background: rgb(100, 149, 237);
  border-radius: 4px;
  padding: 50px;
  max-width: 100%;
}

h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.todo {
  background: cornsilk;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

button {
  background: #cccccc;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}